@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@layer utilities {
  .delay-75 {
    animation-delay: 75ms;
  }
  .delay-150 {
    animation-delay: 150ms;
  }
}

body {
  background-color: #121212;
  background-image: radial-gradient(circle, rgba(152, 51, 235, 0.15) 0%, #121212 70%);
}

html.light body {
  background-color: #f7f6f8;
  background-image: radial-gradient(circle, rgba(152, 51, 235, 0.05) 0%, #f7f6f8 70%);
}

.aurora-bar {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: transparent;
    overflow: hidden;
}
.aurora-bar::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 300px;
    background-image: radial-gradient(ellipse at center, rgba(147, 51, 234, 0.3) 0%, rgba(59, 130, 246, 0.2) 35%, transparent 70%);
    filter: blur(20px);
}